
*.class
*.egg
*.iml
*.jar
*.log
*.prof
*.pyc
*.pyd
*.rdb
*.stackdump
*.tar.gz
*.so
.DS_Store

.venv/
.venv3/

.project
.cache/
.gradle/
.idea/
.kube/
.history/
build/
dist/
node_modules/
output/
lib/

identity.json
log.txt

*.egg-info/
.eggs/

static_codegen/
temp/

.vscode
cmake-*
*.auto.*
java-rook.log*
