footer(class="footer")
    span(class="todo-count") #{countText}
    ul(class="filters")
        li
            if filter == 'all'
                a(href="/" class="selected") All
            else
                a(href="/") All
        li
            if filter == 'active'
                a(href="/filter/active" class="selected") Active
            else
                a(href="/filter/active") Active
        li
            if filter == 'completed'
                a(href="/filter/completed" class="selected") Completed
            else
                a(href="/filter/completed") Completed
    button(class="clear-completed") Clear completed