doctype html
html(lang="en" data-framework="javascript")
    head
        meta(charset="utf-8")
        title Rookout NodeJS Todo Demo
        link(rel="stylesheet" href="/static/css/style.css")
        script(src="/static/js/vendor/jquery-3.3.1.min.js")
        script(src="https://cdn.lr-ingest.io/LogRocket.min.js", crossorigin="anonymous")
        script(src="/static/js/sandboxLogrocket.js")
        script(src="/static/js/sandboxPendo.js")
        script(src="/static/js/requester.js")
        script(src="/static/js/app.js")
    body
        section(class="todoapp")
            include header.pug
            include main.pug
            include footer.pug
        footer(class="info")
            p Double-click to edit a todo
            p(class="clear-all-items") Click here to remove all items
