section(class="main")
    input(class="toggle-all" type="checkbox")
    label(for="toggle-all") Mark all as complete
    ul(class="todo-list")
        if(shownTodos.length)
            each todo in shownTodos
                include todo.pug